$black: #333;
.category-menus {
  display: flex;
  justify-content: start;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
  .category {
    width: 30%;
    background-color: #f2f2f2;
    .item {
      text-align: center;
      padding: 15px 0;
      &.selected {
        background-color: #fff;
        color: #faa573;
      }
    }
  }

  .category-desc {
    font-size: 14px;
    width: 70%;
    display: flex;
    justify-content: start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #ffffff;
    .item {
      margin: 10px 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 33.3%;
      text-align: center;
      overflow: hidden;
      img {
        width: 40px;
        height: 40px;
        padding: 3px;
        margin: auto;
      }
      .text {
        margin-top: 1px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
